.homePane{
-fx-background-color: #FFE4C4;
}

.click {
  -fx-background-color: #6495ED;
  -fx-text-fill: #000000;
  -fx-border-color: 2px solid white;
}

.click:hover {
  -fx-background-color: #FFFFFF;
  -fx-color: #FFFFFF;
}
.homeIm{
  -fx-effect: dropshadow(three-pass-box, rgba(1,1,1,0.9), 10, 1, 1, 1);
}

.dialog{
-fx-background-color: #696969;
-fx-effect: dropshadow(three-pass-box, rgba(1,1,1,0.9), 10, 1, 1, 1);
}

.text{
-fx-text-fill: white;
-fx-alignment: center;
}

.label{
-fx-background-color: #696969;
-fx-effect: dropshadow(three-pass-box, rgba(1,1,1,0.9), 10, 1, 1, 1);
-fx-text-fill: white;
-fx-alignment: center;
}